body,html{
    height:100%;
}

.container-fluid{
    min-height:100%;
}

.header {
    background:#c2d699;
}
.navlinks {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    height:40px;
    margin-top:-40px;
    padding: 0 15px;
    margin-left: 0px;
    margin-right: 0px;
    background:#c2d699;
}