<!DOCTYPE html>
<html ng-app="flavors">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Flavorwocky</title>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32833228-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


    </script>
</head>
<body>

<!-- modal Add Pairing -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" ng-controller="PairingController as pairingController">
            <form id="addForm" name="addForm" role="form" class="form-horizontal css-form" novalidate>

                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Pairing</h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="ingredient1" placeholder="First Ingredient"
                                   ng-model="pairingController.pairing.ingredient1" required>
                        </div>
                        <div id="pairsWithLabel" class="col-sm-2">pairs with</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="ingredient2" placeholder="Second Ingredient"
                                   ng-model="pairingController.pairing.ingredient2" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="affinityLabel" class="col-sm-4">and the combination is</div>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="pairingController.pairing.affinity">
                                <option value="Tried">Tried and tested</option>
                                <option value="Excellent">Excellent</option>
                                <option value="Good">Good</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="addForm.$invalid"
                        ng-click="pairingController.addPairing(pairing)">Add
                </button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- End of modal Add Pairing -->


<div class="container-fluid">
    <div class="row header">
        <div class="col-md-2">
            <h1><a href="index.html"><img src="images/logo.png"/></a></h1>
        </div>
        <div class="col-md-8 text-center search">
        <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="search" class="col-sm-5 control-label">Find foods that pair well with <br/>
                        <small style="font-weight: normal">e.g. Chicken, Coriander, Mustard, Onion</small>
                    </label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="search" placeholder="Ingredient">
                    </div>
                    <label for="add" class="col-sm-1 control-label">Or </label>

                    <div class="col-sm-2">
                        <button id="add" type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#myModal">Add a Pairing
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1 navlinks">
            <a href="about.html">About</a>
        </div>
        <div class="col-md-1 navlinks">
            <a href="help.html">Help</a>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">

    </div>
    <div class="row">
        <div class="col-md-8">Vizualization goes here {{location.path}}</div>
        <div class="col-md-4">
            <div class="panel panel-default" ng-controller="TrioController as trioController">
                <div class="panel-heading">
                    <h3 class="panel-title">Flavor Trios</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="trio in trioController.trios">{{trio.name}}</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default" ng-controller="FreshAdditionsController as freshController">
                <div class="panel-heading">
                    <h3 class="panel-title">Fresh additions</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="addition in freshController.additions"><a href="#">{{addition.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<ng-include src="'footer.html'"></ng-include>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/typeahead.js"></script>
<script>
    $(document).ready(function() {
        var data=['apple','applesauce'];
        $("input").typeahead(
                {

                    source: function(query,process) {
                        process(data);
                    },
                    minLength:2
                }
        )
    });

</script>
</body>
</html>